.containerSectionTurismo {
  display: grid;
  justify-content: center;
  padding: 4rem;
  z-index: 2;
  background-color: var(--primary-color);
  position: relative;
  overflow: hidden;
}

.otherPhotos {
  position: absolute;
  z-index: 1;
  display: flex;
  top: 310px;
  left: 0;
  width: 100%;
  max-width: 100%;
}

.photo {
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  position: relative;
}

.photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.5);
  z-index: 1;
  pointer-events: none;
}

.titleSectionTurismo {
  justify-content: center;
  display: grid;
  color: white;
  text-align: center;
  margin: 0px 0px 40px;
  text-transform: uppercase;
}

.spanSectionTitle1 {
  font-weight: 400;
  font-size: 21px;
}

.spanSectionTitle2 {
  font-weight: 900;
  padding: 0px 9.3px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  background-color: #f6c915;
  font-size: 22px;
  width: 35%;
  min-width: 500px;
  border-radius: 5px;
}

.carouselContainer {
  width: 100%;
  max-width: 1200px; /* Ajusta según sea necesario */
  margin: 0 auto;
  overflow: hidden;
  z-index: 2;
}

.containerSectionTurismo_divCard {
  /* padding: 20px; */
  box-sizing: border-box;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  text-align: center;
}

.containerSectionTurismo_divImg {
  display: flex;
  justify-content: center;
  width: 320px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.imgTurismo1,
.imgTurismo2,
.imgTurismo3 {
  border-radius: 7px;
  width: 90%;
  height: 400px;
  object-fit: cover;
  /* border: 1px solid red; */
}

.h3Turismo {
  color: #fefefe;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  /* border: 1px solid red; */
  width: 65%;
}

.pTurismo {
  /* border: 1px solid red; */
  color: wheat;
  width: 60%; /* Ajusta según sea necesario */
  justify-content: center;
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.containerTurismoBtn {
  /* border: 1px solid red; */
  font-size: 1.2em;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  text-transform: uppercase;
  max-width: 200px;
  padding: 0.7em 1.3em;
  line-height: 1;
  /* display: inline-block; */
  margin: 0 auto;
}

.turismoBtn {
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #e6104b;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 0.7em 1.8em;
  line-height: 1;
  border: none;
  cursor: pointer;
}

@media (max-width: 365px) {
  .spanSectionTitle1 {
    font-size: 17px;
  }
  .spanSectionTitle2 {
    font-size: 16px;
  }

  .pTurismo {
    width: 40%;
  }

  .h3Turismo {
    width: 40%;
  }

  .otherPhotos {
    top: 290px;
    left: 0;
  }
}

@media (max-width: 400px) {
  .spanSectionTitle1 {
    font-size: 17px;
  }
  .spanSectionTitle2 {
    font-size: 16px;
    /* min-width: 320px; */
  }
  .otherPhotos {
    top: 300px;
    left: 0;
  }
}
