.fff {
    border: none;
    /* overflow: hidden; */
}

.product__slider {
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    padding: 10px;
    height: auto;
    /* overflow: hidden; */
}
@media (max-width: 470px) { 
    .product__slider {
        height: 270px;
    }
 }
@media (max-width: 430px) { 
    .product__slider {
        height: 250px;
    }
 }
@media (max-width: 379px) { 
    .product__slider {
        height: 220px;
    }
 }
@media (max-width: 320px) { 
    .product__slider {
        height: 190px;
    }
 }