.fff {
    border: none;
}

.product__slider {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 305px;/
}

@media (max-width: 520px) { 
    .product__slider {
        height: 300px;
    }
 }
@media (max-width: 490px) { 
    .product__slider {
        height: 280px;
    }
 }
@media (max-width: 460px) { 
    .product__slider {
        height: 265px;
    }
 }
@media (max-width: 430px) { 
    .product__slider {
        height: 245px;
    }
 }
@media (max-width: 400px) { 
    .product__slider {
        height: 230px;
    }
 }
@media (max-width: 370px) { 
    .product__slider {
        height: 210px;
    }
 }
@media (max-width: 350px) { 
    .product__slider {
        height: 205px;
    }
 }
@media (max-width: 320px) { 
    .product__slider {
        height: 200px;
    }
 }