.container_contact {
    background-color: #174030;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.whastsapp {
    transition: all .5s ease;
    color: black;
}
.whastsapp:hover {
    transition: all .5s ease;
    color: green;
}
.email {
    transition: all .5s ease;
    color: black;
}
.email:hover {
    transition: all .5s ease;
    color: rgb(19, 71, 184);
}

.container_contact_div {
    width: 150px;
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
}