.container_redes {
    /* background-color: #174030; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* border-left: 1px solid gray; */
    padding-left: 7px;
}

.facebook {
    color: black;
    transition: all .5s ease;
}
.facebook:hover {
    color: #0d88f0;
    transition: all .5s ease;
}
.instagram {
    color: black;
    transition: all .5s ease;
}
.instagram:hover {
    color: #a036aa;
    transition: all .5s ease;
}

.container_redes_div {
    width: 150px;
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
}

@media (max-width: 1095px) { 
    .container_redes {
        /* border-left: 1px solid gray; */
        border-top: 1px solid gray;
    }
 }
@media (min-width: 1098px) { 
    .container_redes {
        border-left: 1px solid gray;
        /* border-top: 1px solid gray; */
    }
 }